<% @page_title = "New ingredient" %>
<div class="container">
	<%= render 'shared/page_title', title: "enter a new ingredient" %>

	<div class="col-md-10 center-block">
		<%= render 'form' %>
	</div>
</div>
