<div class="container text-center">
	<div class="jumbotron">
		<h1>Welcome to Recipe Heaven</h1>
		<h2>Enjoy the recipes!</h2>
	  <p><%= link_to "Sign up or log in", "#", class: "btn btn-danger btn-lg" %></p>
 	</div>
</div>
