$navbar-default-bg: #f7cb26;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixins";

$yellow: #f7cb26;
$padding-mobile: 15px 0 25px;
$padding-main: 50px 0 70px;

#logo {
	float: left; font-size: 1.5em; color: white; text-transform: uppercase; font-weight: bold;
	&:hover {color: black; text-decoration: none;}
}
.jumbotron {
	background-image: url(image_path('triangles.jpg')); background-size: cover; margin-bottom: 0;
	h1 {margin-top:0; font-size: 45px;}
	.btn {background-color: $yellow; border:none; color: black;}
		font-size: 60px;
}

.section1 {@include sec-default(); padding: $padding-mobile;

}

footer {@include sec-default(); background-color: $yellow; padding: 10px; text-align: center;
	p {font-size: 18px; padding-top: 15px; color: black; }
}


@include bp(xl) {
	.section1{padding: $padding-main;}
	.jumbotron h1 {font-size: 60px;}
}
