$navbar-default-bg: #f7cb26;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "mixins";

$yellow: #f7cb26;
$orange: #e66e13;
$green: #073B15;
$tan:  #f0d6a9;
$padding-mobile: 15px 0 25px;
$padding-main: 50px 0 70px;

a:hover {text-decoration: none;}
.center-block {@include center-block();}


/************************************************/
	.navbar-default .navbar-toggle{background-color: $orange;
		.icon-bar {background-color: white;}
	}

	#logo {
		float: left; font-size: 1.5em; color: white; text-transform: uppercase; font-weight: bold;
		&:hover {color: black; text-decoration: none;}
	}
	.jumbotron {
		background-image: url(image_path('cuisine.jpg')); background-size: cover; margin-bottom: 0;
		position: relative; z-index: 0;
		&:before{ @include before(); background-color: rgba($tan, .8);}
		h1 {margin-top:0; font-size: 45px;}
		.btn {background-color: $orange; border:none; color: white;}
			font-size: 60px;
	}
	.section1 {@include sec-default(); padding: $padding-mobile;}

	footer {@include sec-default(); background-color: $yellow; margin-top: 20px; padding: 10px; text-align: center;
		p {font-size: 18px; padding-top: 15px; color: black; }
	}
	.description {margin-top:0; font-weight: bold;}
/************************************************/


/***********RECIPES******************************/
.recipes {
	h1 {text-transform: capitalize; text-align: center; font-size: 30px;}
	a {color: $orange;}
	h4 {text-transform: capitalize;}
	.chef_info {margin-top: 10px;}
	.cancel { text-align: center;
		a {color: $green;}
	}
	.recipe-actions {
	  padding-top: 5px;
	  a {color: white; font-size: 14px;}
	}
	.form-group .control-label {text-align: left;}

	&.show {
		.well {@include sec-default();}
		.corner {text-align: center;
			p{font-style: italic; line-height: 2em;}
		}
	}
	&.index {
		.listing {@include sec-default(); margin-bottom: 15px;}
	}
}




/****************MEDIA****************************/
@include bp(xl) {
	.section1{padding: $padding-main;}
	.jumbotron h1 {font-size: 60px;}
}

@include bp(md) {
	.chef-info {margin-bottom: 10px;}
}

/************************************************/


