<footer>
	<div class="container">
		<div class="col-md-4"><%= link_to "Recipes", root_path, class: "navbar-brand", id: "logo" %></div>
	  <div class="col-md-4"><p>Footer Links</p></div>
	  <div class="col-md-4"><p>Footer Links</p></div>
	</div>
</footer>
